.projectHeader{
    font-family: Quicksand;
    font-size: 45px;
    margin-left: 50px;
}

.projectCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    font-family: Quicksand;
    font-size: 20px;
}

.header44{
    font-family: Quicksand;
    font-size: 50px;
}

.separator {
    width: 85%; /* Adjust width to control the length of the line */
    height: 2px;
    background-color: #ccc; /* Change color as needed */
    margin: 60px auto; /* Centers the line horizontally */
    border-radius: 2px; /* Adds rounded ends to the line */
}
