@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    color: #f2fbf8;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
}

.home_tools {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    word-spacing: 2px;
    margin: 0 20px;
}

.home_about{
    font-family: "Quicksand";
    font-size: 50px;
    margin-left: 50px;
}

.home_aboutMe{
    font-family: "Quicksand";
    font-size: 25px;
}

.home_about_blur{
    /*background: rgba(255, 255, 255, 0.15);*/
    /*box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);*/
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;

    margin-left: auto;
    margin-right: 70px;
    width: 600px;
    padding: 2px 10px 2px 10px;
}

.tools{
    width: 60px;
    height: 60px;
    padding: 10px;
    margin-left: 20px;
    margin-right: auto;
}

@media (max-width: 768px) {
    .description {
        flex-direction: column;
    }
    .pfp {
        margin-bottom: 20px;
    }
}
