.App {
  text-align: start;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

:root{
  --main: #000103;
  --main_b: #47382B;
  --sub_b: #8E6E53;
  --creme: #F1F2EE;
}

